.input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-element {
    margin-right: 25px;
}

.code-error {
    color: red;
    display: block;
    margin-top: 10px;
}

.info-element {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-label {
    color: #2196f3;
    font-weight: bold;
}

.medal-enabled {
    color: green;
}

.medal-disabled {
    color: #b3b1b1;
}

.new-medal-notification {
    display: inline-block;
    margin-left: 10px;
}

.new-medal-notification mat-chip {
    padding-bottom: 1px;
    padding-top: 1px;
}